<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>log</display-name>
	
	
	<filter>
   		<filter-name>CorsFilter</filter-name>
    	<filter-class>com.log.util.CorsFilter</filter-class>
	</filter>
	
	<filter-mapping>
    	<filter-name>CorsFilter</filter-name>
   		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	
<!-- <servlet> -->
<!--     <servlet-name>HTMLManager</servlet-name> -->
<!--     <servlet-class>org.apache.catalina.manager.HTMLManagerServlet</servlet-class> -->
<!--     <init-param> -->
<!--       <param-name>debug</param-name> -->
<!--       <param-value>2</param-value> -->
<!--     </init-param> -->
<!--     <multipart-config> -->
<!--       <max-file-size>52428800</max-file-size> -->
<!--       <max-request-size>52428800</max-request-size> -->
<!--       <file-size-threshold>0</file-size-threshold> -->
<!--     </multipart-config> -->
<!--   </servlet> -->
	

</web-app>
